@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

/* Variable declarations */
:root {
  --primaryColor: #15bb63;
  --backgroundColor: #0e1e25;
  --primaryTextColor: #f5f5f5;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  text-align: center;
  background-color: var(--backgroundColor);
  @media (min-width: 40rem) {
    padding: 2rem;
  }
}
/* Flex container */
.container {
  display: flex;
  -webkit-display: box;
  -moz-display: box;
  -ms-display: flexbox;
  -webkit-display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
a {
  color: #0563bb;
}
a:hover {
  color: #35e888;
  text-decoration: none;
}

/*--------------------------------------------------------------
                  # LOADER
--------------------------------------------------------------*/
.loaderBackground {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--primaryTextColor);
  background-color: var(--backgroundColor);
}

.app {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/*--------------------------------------------------------------
                  # NAVBAR
--------------------------------------------------------------*/
.navbar {
  width: 100vw;
  font-size: 1rem;
  text-shadow: 4px 4px 4px #000000;
  font-weight: 700;
  background-color: var(--backgroundColor);
}
.active {
  border-radius: 0 0.7rem;
  box-shadow: 0 -2px 2px var(--primaryColor), 0 2px 2px var(--primaryColor);
}
/*--------------------------------------------------------------
                  # FOOTER
--------------------------------------------------------------*/
.footer {
  text-align: center;
  text-shadow: 4px 4px 4px #000000;
  font-size: 0.8rem;
  font-weight: 700;
  background-color: transparent;
}

/*--------------------------------------------------------------
                  # SCROLL DOWN BTN
--------------------------------------------------------------*/
.scrollDown {
  position: absolute;
  margin-left: -50px;
  left: 50%;
  width: 100px;
  bottom: 30px;
  opacity: 0.5;
}

.scrollDown:hover {
  cursor: pointer;
  opacity: 1;
}
.scrollDown {
  /* animation: updown 2s ease infinite; */
  animation: updown 2s ease 1;
}

@keyframes updown {
  /* 0% {
    transform: translateY(-100%);
  } */
  50% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

/*--------------------------------------------------------------
                  # HOME
--------------------------------------------------------------*/
.home {
  /* height: 100%; */
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
  background-size: cover;
}

.heroText {
  text-align: center;
  color: var(--primaryTextColor);
  text-shadow: 4px 4px 4px #000000;
}
.heroText h1 {
  font-size: 2em;
  line-height: 1;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  margin-top: 2rem;
}
.heroText h4 {
  line-height: 1;
  margin: 1rem 0;
}
.heroText h5 {
  line-height: 1;
  margin: 1rem 0;
}
.socials {
  text-align: center;
}

.icon-box {
  backdrop-filter: blur(8px);
  position: relative;
  color: white;
  font-size: 24px;
  height: 40px;
  width: 40px;
  padding: 2px;
  display: inline-block;
  margin: 5px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  /* Glow effect */
  -webkit-box-shadow: 0 0 25px rgb(4, 37, 1);
  -moz-box-shadow: 0 0 25px rgb(4, 37, 1);
  box-shadow: 0 0 25px rgb(4, 37, 1);
}
.icon-box:hover {
  box-shadow: inset 0 50px 0 0 var(--primaryColor);
  color: white;
}

/*--------------------------------------------------------------
                  # ABOUT
--------------------------------------------------------------*/

.about {
  min-height: 100vh;
  width: 100%;
  font-size: 80.8%;
  line-height: 1.6em;
  text-align: center;
  color: #ffffff;
  background-color: var(--backgroundColor);
  overflow: scroll;
  padding: 4rem 1rem;
}
.about a {
  color: #0563bb;
}
.about a:hover {
  color: var(--primaryColor);
  text-decoration: none;
}

/* -------------ABOUT ME----------- */
.aboutMeSection {
  background: transparent;
  margin: 2rem 0;
}
.aboutDetails {
  line-height: 1.2em;
  text-align: left;
  padding-top: 2rem;
}
.lastParagraph {
  text-align-last: center;
}
.header h1 {
  font-size: 2em;
  line-height: 1;
  font-weight: 900;
  font-family: "Raleway", sans-serif;
  padding: 0.5rem;
  animation: reveal 3000ms ease-in-out forwards 200ms, flicker 2s ease 4;
}

.avatar {
  border-radius: 1rem;
  padding: 10px;
  filter: grayscale(80%);
}

/* -------------SKILLS----------- */

.skills-section {
  padding: 1.5rem 0;
}
.skills .progress {
  height: 50px;
  display: block;
  background: none;
  margin: 0 5px 0 5px;
}
.skills .progress .skill {
  padding: 10px 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.skills .progress .skill .val {
  float: right;
  font-style: normal;
}
.skills .progress-bar-wrap {
  background: #f2f3f5;
}
.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #18d26e;
}

/* -------------TECHNOLOGIES & TOOLS----------- */
.othertech {
  margin: 1rem 0;
}
.techdiv .skills {
  /* margin-top:3rem; */
  margin: 0 -3rem 0 -3rem;
}
.techdiv p {
  line-height: 1;
  font-size: 1rem;
}
.tech-title {
  padding: 10px 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
}
.tech-score .filled {
  color: #18d26e;
}
.tech-logos {
  display: inline-block;
}
.techdiv .logos {
  height: 40px;
  margin: 1rem;
}
.skills-section .techdiv {
  margin: 3rem 0 2rem 0;
}

/* tools animation */
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* -------------LANGUAGES----------- */
.languages-section {
  margin: 4rem 0;
}

/* -------------FUN FACTS----------- */
.fun-facts {
  text-align: left;
  line-height: 1.5em;
  margin-top: 3em;
}

.fun-facts h2 {
  text-align: center;
}

/*--------------------------------------------------------------
                  # RESUME
--------------------------------------------------------------*/

.pageLead {
  min-height: 100vh;
  width: 100%;
  /*  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)) black; */
  background: var(--backgroundColor);
}
.pageLead .header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pageLead .header h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 4rem;
  font-weight: 900;
  animation: reveal 3000ms ease-in-out forwards 200ms, flicker 2s ease 4;
}

@media only screen and (max-width: 600px) {
  .pageLead .header h1 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 2.5em;
    font-weight: 900;
    animation: reveal 3000ms ease-in-out forwards 200ms, flicker 2s ease 4;
  }
}

@keyframes reveal {
  80% {
    letter-spacing: 6px;
  }
  100% {
    background-size: 220% 220%;
  }
}

@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff,
      0 0 2rem #18d26e, 0 0 3rem #18d26e, 0 0 4rem #18d26e;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
    box-shadow: none;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.pageLead .header h1:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.pageLead .downloadBtn {
  transition: transform 0.1s;
  color: white;
  /* border-radius: 5px;
  box-shadow: 2px 2px var(--primaryColor); */
  border-radius: 0 0.7rem;
  box-shadow: 0 -3px 3px var(--primaryColor), 0 3px 3px var(--primaryColor);
}

.pageLead .downloadBtn:hover {
  background-color: transparent;
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}
.pageLead .downloadBtn:active {
  background-color: #347536;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/*---- WORK EXPERIENCE & EDUCATION-----*/
main {
  background-color: var(--backgroundColor);
}

.pageSection {
  min-height: 100vh;
  color: black;
  margin: 3rem 0 4rem 0;
  width: 100vw;
}
.pageSection .header {
  font-size: 30px;
  line-height: 1;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  padding: 10px;
  color: var(--primaryTextColor);
  text-shadow: 3px 3px 3px #000000;
}
.pageSection h6 {
  color: var(--primaryTextColor);
  margin-bottom: 1rem;
  padding: 0.5rem;
}

#resume {
  width: 100vw;
  color: black;
  margin: 5rem 0 4rem 0;
}
.row section .details .degree {
  font-size: 16px;
  font-weight: 700;
}
#accordionCard {
  border: 1px solid var(--backgroundColor);
  border-bottom: 1px solid white;
}
#resume .cardHeader,
#resume .cardBody {
  background-color: var(--backgroundColor);
}
#accordionBtn {
  background-color: transparent;
  color: var(--primaryTextColor);
  border-radius: 0 0.7rem;
  box-shadow: 0 -2px 2px var(--primaryColor), 0 2px 2px var(--primaryColor);
}
#accordionBtn:hover {
  transform: scale(1.2);
}
#resume h6 {
  margin-bottom: -0.5rem;
}

/* TIMELINE */
.timeline {
  max-width: 1080px;
  margin: 30px auto;
  padding: 0 20px;
  position: relative;
  font-family: "Raleway", sans-serif;
}
.timeline .center-line {
  position: absolute;
  height: 100%;
  width: 4px;
  /* background: #fff; */
  background: #bdf8d8;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}
.timeline .row {
  display: flex;
}
.timeline .row-1 {
  justify-content: flex-start;
}
.timeline .row-2 {
  justify-content: flex-end;
}
.timeline .row section {
  /* background: #fff; */
  background: var(--backgroundColor);
  border-radius: 10px;
  width: calc(50% - 40px);
  padding: 20px;
  border: 2px solid var(--primaryColor);
  color: white;
  position: relative;
}
.timeline .row section::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  /* background: #fff; */
  background: #d0ecde;
  top: 28px;
  z-index: -1;
  transform: rotate(45deg);
}
.row-1 section::before {
  right: -7px;
}
.row-2 section::before {
  left: -7px;
}
.row section .icon,
.center-line .scroll-icon {
  position: absolute;
  background: #18d26e;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  font-size: 17px;
  box-shadow: 0 0 0 4px rgb(230, 229, 229), inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.center-line .scroll-icon {
  bottom: 0px;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%);
}
.row-1 section .icon {
  top: 15px;
  right: -60px;
}
.row-2 section .icon {
  top: 15px;
  left: -60px;
}
.row section .details,
.row section .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row section .details .title {
  font-size: 20px;
  font-weight: 700;
}
.row section .details .date {
  font-size: 16px;
  font-weight: 700;
}
.row section .company {
  text-align: left;
}
.row section p {
  margin: 10px 0 17px 0;
  text-align: left;
  font-size: 0.6em;
}
.row section .bottom a {
  text-decoration: none;
  background: #18d26e;
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  /* font-size: 17px; */
  font-weight: 400;
  transition: all 0.3s ease;
}
.row section .bottom a:hover {
  transform: scale(0.97);
}

@media (max-width: 790px) {
  .timeline .center-line {
    left: 40px;
  }
  .timeline .row {
    margin: 30px 0 3px 60px;
  }
  .timeline .row section {
    width: 100%;
  }
  .row-1 section::before {
    left: -7px;
  }
  .row-1 section .icon {
    left: -60px;
  }
}
@media (max-width: 440px) {
  .timeline .center-line,
  .row section::before,
  .row section .icon {
    display: none;
  }
  .timeline .row {
    margin: 10px 0;
  }
}

/*--------------------------------------------------------------
                  # SCROLL TO TOP
--------------------------------------------------------------*/

.scrollTop {
  position: fixed;
  width: 100%;
  bottom: 20px;
  align-items: center;
  height: 20px;
  justify-content: left;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
  margin-left: -50px;
  left: 50%;
}

.scrollTop:hover {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

/*--------------------------------------------------------------
                  #   PORTFOLIO
--------------------------------------------------------------*/

main .softwareProjects,
main .photographyProjects {
  margin: 0 1rem;
}

@media only screen and (min-width: 992px) {
  main .softwareProjects,
  main .photographyProjects {
    margin: 0 8rem;
  }
}

/* ------- PROJECT CARDS ----- */
.mycard {
  width: 100%;
  height: 320px;
  color: #d6d600;
  box-shadow: 0 0 0 2px rgb(230, 229, 229), inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 2px rgba(0, 0, 0, 0.05);
  /* overflow: scroll; */
}

.mycard-img {
  width: 100%;
  height: 100%;
  background-color: black; /* fallback color */
  background-position: center;
  background-size: cover;
  transition: all 0.4s ease-in-out;
  filter: grayscale(10%);
  opacity: 1;
}
.mycard:hover .mycard-img,
.mycard:focus .mycard-img {
  transform: scale(1.02);
  opacity: 1;
}

.mycard:hover .mycard-img-overlay {
  color: white;
  /* background-color: var(--backgroundColor); */
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8));
  height: 100%;
  padding: 1rem;
}

.mycard-img-overlay > h4,
.mycard-img-overlay > p,
.mycard-img-overlay .button,
.mycard-img-overlay .projectBadges {
  visibility: hidden;
}

.mycard-img-overlay:hover h4,
.mycard-img-overlay:hover p,
.mycard-img-overlay:hover .button,
.mycard-img-overlay:hover .projectBadges {
  visibility: visible;
}

.mycard:hover .mycard-img-overlay p {
  font-size: 0.7em;
  letter-spacing: 0.02em;
  padding: 1rem;
}
.mycard-img-overlay h4 {
  text-shadow: 4px 4px 4px #000000;
}
.mycard-img-overlay .button {
  margin: 0.5rem 3rem 0 3rem;
  background-color: transparent;
}
.projectBadges .badge {
  margin: 5px;
  font-size: 0.5em;
}

/*--------------------------------------------------------------
                  #   PUBLICATIONS
--------------------------------------------------------------*/

.pageLead .publications {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 3rem 0 3rem 0; */
  display: grid;
  place-items: center;
  min-height: 100vh;
  margin: 2rem 0 1rem 0;
}

/*--------------------------------------------------------------
                  #     CONTACT FORM
--------------------------------------------------------------*/

.fcf-body {
  margin: 0;
  font-family: -apple-system, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--primaryTextColor);
  text-align: left;
  padding: 30px;
  padding-bottom: 10px;
  max-width: 100%;
  border-radius: 0 4rem;
  box-shadow: 0 -4px 4px var(--primaryColor), 0 4px 4px var(--primaryColor);
}

.fcf-form-group {
  margin-bottom: 1rem;
}

.fcf-input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: center;
  width: 100%;
}

.fcf-form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--primaryTextColor);
  background-color: var(--backgroundColor);
  background-clip: padding-box;
  border: 1px solid #ced4da;
  outline: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
  border: 1px solid var(--primaryColor);
}
textarea.fcf-form-control {
  font-family: -apple-system, Arial, sans-serif;
  height: auto;
}

label.fcf-label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
label.fcf-label .asterisks {
  color: red;
}
#fcf-button {
  display: inline-block;
  font-weight: 400;
  color: white;
  background-color: transparent;
  border: 1px solid var(--primaryColor);
  line-height: 1.5;
  border-radius: 0.5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  margin-top: 0.5rem;
}

@media (prefers-reduced-motion: reduce) {
  .fcf-btn {
    transition: none;
  }
}
#fcf-button:hover {
  color: var(--green);
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.1);
}
.fcf-btn:focus,
.fcf-btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.formError {
  color: palevioletred;
}

#notifyToast {
  color: #fff;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 1rem;
  border: 1px solid var(--backgroundColor);
  background-color: var(--primaryColor);
}
